[submodule "external/sdsl-lite"]
	path = external/sdsl-lite
	url = https://github.com/mpetri/sdsl-lite.git
	branch = mapped_buffer_branch
[submodule "external/googletest"]
	path = external/googletest
	url = https://chromium.googlesource.com/external/googletest
[submodule "external/easyloggingpp"]
	path = external/easyloggingpp
	url = https://github.com/easylogging/easyloggingpp.git
[submodule "external/mem_monitor"]
	path = external/mem_monitor
	url = https://github.com/mpetri/mem_monitor.git 
